{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="container-fluid">
  <div class="row gx-3">
    <div class="col-12 col-xl-6">
      <div class="card mb-3">
        <h5 class="card-header">Container Secret</h5>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">Container</div>
            <div class="col col-md-8">
              <a href="{{ object.container.get_absolute_url }}">{{ object.container }}</a>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">Secret</div>
            <div class="col col-md-8">
              <a href="{{ object.secret.get_absolute_url }}">{{ object.secret }}</a>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">Type</div>
            <div class="col col-md-8">{{ object.get_type_display }}</div>
          </div>
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">Target</div>
            <div class="col col-md-8">{{ object.target }}</div>
          </div>
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">UID</div>
            <div class="col col-md-8">{{ object.uid|default:"—" }}</div>
          </div>
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">GID</div>
            <div class="col col-md-8">{{ object.gid|default:"—" }}</div>
          </div>
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">Mode</div>
            <div class="col col-md-8">{{ object.mode|default:"—" }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
