{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="container-fluid">
  <div class="row gx-3">
    <div class="col-12 col-xl-6">
      <div class="card mb-3">
        <h5 class="card-header">Secret</h5>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">Name</div>
            <div class="col col-md-8">{{ object.name }}</div>
          </div>
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">Driver</div>
            <div class="col col-md-8">{{ object.get_driver_display }}</div>
          </div>
          <div class="row mb-2">
            <div class="col col-md-4 text-muted">Options</div>
            <div class="col col-md-8">
              {% if object.options %}
                <pre class="mb-0">{{ object.options }}</pre>
              {% else %}
                <span class="text-muted">—</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">
          {% if object.tags.count %}
            <div class="d-flex flex-wrap gap-2">
              {% for tag in object.tags.all %}
                <a class="badge text-bg-primary rounded-pill text-decoration-none" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
              {% endfor %}
            </div>
          {% else %}
            <span class="text-muted">No tags</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
